$color-black: #000;
$font-logo: 'Kaushan Script', cursive; 
$font-menu: 'Abel', sans-serif; 
$height-full: 100vh;
$height-half: 50vh;
$section-full-height:
    "index-s1";
$section-half-height:
    "index-s2",
    "index-s3",
    "index-s4",
    "index-s5";
